@import '~src/scss/variables.scss';
@import '~src/scss/reset.scss';
@import '~src/scss/rem-calc.scss';

html{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

main{
    width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}